.redleaf {
    width: 35%;
    height: auto;
}

body {
    background-color: rgb(217, 217, 217);
}

.landsour {
    text-align: top;
}
.bodyback {
    /* border: solid red 6px; */
    border-radius: 5px;
    margin-top: 50px;
    padding: 5%;
    padding-right: 100px;
    padding-left: 100px;
    /* background-color: red; */
}

.container {
    background-image: url(landscape2.png);
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 25px;
    margin-top: 10px;
 

}
.danielpov {
    border: solid red 6px;
    border-radius: 8px;
    padding: 1px;
}
.daniel {
    padding: 10%;
    background-color: white;
    color: black;
    border: 10px solid red;
    border-radius: 8px;
    font-family: "Roboto";
    padding-bottom: 100px;
    padding-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 50px;


}
.jonathan{
    padding: 10%;
    color: black;
    font-family: "Roboto";
    border: 10px solid red;
    border-radius: 8px;
    background-color: rgba(255,255,255);
    padding-bottom: 150px;
    padding-top: 100px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    
}
.jonT{

    border: solid red 6px;
    border-radius: 18px;
    padding: 1px;
    
    

}

.mehedi {
    padding: 10%;
    color: black;
    border: 10px solid red;
    border-radius: 8px;
    font-family: "Roboto";
    background-color: rgba(255,255,255);
    padding-bottom: 100px;
    padding-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}
.centered {
    margin-top: -10px;
    font-size: 50px;
    font-family: "Century Gothic", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centered2 {
    margin-top: 50px;
    font-size: 65px;
    font-family: "Century Gothic", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.faker {
    margin-left: 25px;
    border: solid red 6px;
    border-radius: 8px;
    padding: 1px;
}

@media (max-width: 600px) {
    .centered {
        font-size: 230%;
    }
    .centered2 {
        font-size: 280%;
    }
    .redleaf {
        width: auto;
        height: 10%;
    }
    .text {
        margin-top: 200px;
    }
}

footer a {
    /* text-align: center;
    padding: 3px;
    background-color: rgb(235, 19, 19);
    color: white;
    border-radius: 9px;
    text-decoration: none;
    width: auto;
    height: auto; */
    
    /* border: solid 2px white; */
    border-radius: 13px;
    border-style: inset;
    margin-bottom: -2px;
    position: fixed;
    left: 0.5;
    bottom: 0;
    font-size: 25px;
    width: 98.4%;
    height: 9%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 50px;
}

a.kai:hover , a.kai:active{
    font-size: 150%;
}